link(href="/dist/css/sm.css", rel="stylesheet")
link(href="/dist/css/sm-extend.css", rel="stylesheet")
link(href="/assets/css/demos.css", rel="stylesheet")
link(href="/aui/css/aui.css", rel="stylesheet")
link(href="/aui/css/aui-iconfont.css", rel="stylesheet")