@charset "UTF-8";
div,
span,
p,
a,
ul,
li,
i,
em,
footer,
header,
section,
time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}



.card,
.module {
	margin-bottom: .5625rem
}


.layout-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.box-center-v {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center
}

.layout-box .box-col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%
}

.line-around,
.module {
	background-color: #fff;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #d8d8d8;
	box-sizing: border-box;
	/*box-shadow: 0 1px .1875rem -.125rem rgba(0, 0, 0, .2)*/
}


.card.col-1 .item-box {
	width: 100%
}

.card.col-2 .item-box {
	width: 50%
}

.card.col-3 .item-box {
	width: 33.3%
}

.card.col-4 .item-box {
	width: 25%
}

.card.col-5 .item-box {
	width: 20%
}

.line-gradient {
	-webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(30%, #000), color-stop(70%, #000), color-stop(100%, transparent));
	-webkit-mask: -webkit-linear-gradient(top, transparent, #000 30%, #000 70%, transparent 100%);
	width: 1px
}

.mod-media {
	position: relative;
	display: block;
	text-align: center;
	margin: .625rem 0 .625rem .5rem
}

.mod-media:first-child {
	margin-left: .75rem
}

.mod-media .media-main {
	position: relative
}

.mod-media .icon {
	position: absolute;
	right: -.3125rem;
	bottom: -.3125rem
}

.mod-media .icon-video {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.mod-media img {
	display: block;
	vertical-align: top
}

.mod-media .media-txt {
	margin: .5rem -.1rem 0 -.1rem;
	height: 1.5rem;
	line-height: 1.5rem
}

.size-xs {
	width: 2.125rem
}

.media-graphic .item-list {
	padding: .5rem .6875rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	overflow: hidden
}

.media-graphic .item-main {
	line-height: 1.125rem;
	overflow: hidden
}

.media-graphic .item-main .btn {
	vertical-align: bottom;
	margin: 0 0 0 .375rem
}

.media-graphic .item-main .icon {
	vertical-align: -.0625rem
}

.media-graphic .item-minor,
.media-graphic .item-other {
	padding: .25rem 0 0;
	line-height: 1rem
}

@font-face {
	font-family: wbfontregular;
	src: url(../../assets/css/wbfont-regular.eot);
	src: url(../../assets/css/wbfont.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

.icon-font {
	font-family: wbfontregular;
	display: inline-block
}

.icon-font-cart:before {
	content: "\0061"
}

.icon-font-follow:before {
	content: "\0062"
}

.icon-font-like:before {
	content: "\0063"
}

.icon-font-arrow-up:before {
	content: "\0064"
}

.icon-font-arrow-down:before {
	content: "\0065"
}

.icon-font-arrow-right:before {
	content: "\0066"
}

.icon-font-arrow-left:before {
	content: "\0067"
}

.icon-font-comment:before {
	content: "\0068"
}

.icon-font-forward:before {
	content: "\0069"
}

.icon-font-followed:before {
	content: "\006A"
}

.icon-font-search:before {
	content: "\006B"
}

.icon-font-dots:before {
	content: "\006C"
}

.icon-font-star:before {
	content: "\006D"
}

.icon-font-star.star-choosed {
	color: #FB9A00
}

.icon-font-star.star-half {
	position: relative
}

.icon-font-star.star-half:after {
	content: "\006D";
	color: #FB9A00;
	width: .58em;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0
}

.icon-font-talk:before {
	content: "\006E"
}

.icon-font-add:before {
	content: "\006F"
}

.icon-font-ok:before {
	content: "\0070"
}

.icon {
	display: inline-block;
	background-image: url(../../assets/css/icons.svg);
	background-size: 6.875rem 10.3125rem
}

.icon-yellowv {
	background-position: 0 0;
	width: .875rem;
	height: .875rem
}

.icon-bluev {
	background-position: 0 -1.25rem;
	width: .875rem;
	height: .875rem
}

.icon-club {
	background-position: 0 -2.5rem;
	width: .875rem;
	height: .875rem
}

.icon-vgirl {
	background-position: 0 -3.75rem;
	width: .875rem;
	height: .875rem
}

.icon-vip {
	background-position: 0 -5rem;
	width: .8125rem;
	height: .8125rem
}

.icon-nvip {
	background-position: 0 -6.25rem;
	width: .8125rem;
	height: .8125rem
}

.icon-male {
	background-position: -1.5625rem 0;
	width: 1rem;
	height: 1rem
}

.icon-female {
	background-position: -1.5625rem -1.25rem;
	width: 1rem;
	height: 1rem
}

.icon-like {
	background-position: -3.125rem 0;
	width: 1.5rem;
	height: 1.5rem
}

.icon-liked {
	background-position: -3.125rem -2.5rem;
	width: 1.5rem;
	height: 1.5rem
}

.icon-likesmall {
	background-size: 4.29688rem 6.44531rem;
	background-position: -1.95313rem 0;
	width: .9375rem;
	height: .9375rem
}

.icon-likedsmall {
	background-size: 4.29688rem 6.44531rem;
	background-position: -1.95313rem -1.5625rem;
	width: .9375rem;
	height: .9375rem
}

.icon-video {
	background-position: -11.875rem 0;
	height: 1.5625rem;
	width: 1.5625rem
}

.txt-xxs {
	font-size: .625rem
}

.txt-xs {
	font-size: .75rem
}

.txt-s {
	font-size: .8125rem
}

.txt-m {
	font-size: .875rem
}

.txt-l {
	font-size: .9375rem
}

.txt-xl {
	font-size: 1rem
}

.txt-cut {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.txt-cut-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.txt-bold {
	font-weight: 700
}

.iconimg {
	display: inline-block;
	vertical-align: middle
}

.iconimg img {
	vertical-align: top!important
}

.iconimg-xxs {
	width: .75rem;
	height: .75rem
}

.iconimg-xxs img {
	width: .75rem;
	height: .75rem
}

.iconimg-xs {
	width: 1.125rem;
	height: 1.125rem
}

.iconimg-xs img {
	width: 1.125rem;
	height: 1.125rem;
	margin: -.0625rem 0 0
}

.iconimg-s {
	width: 1.4375rem;
	height: 1.4375rem
}

.iconimg-s img {
	width: 1.4375rem;
	height: 1.4375rem
}

.iconimg-m {
	width: 2.25rem;
	height: 2.25rem
}

.iconimg-m img {
	width: 2.25rem;
	height: 2.25rem
}

a .mct-a,
.mct-a {
	color: #333
}

a .mct-d,
.mct-d {
	color: #929292
}
