extends ../../layout

block header
    header.bar.bar-nav
        a.button.button-link.button-nav.pull-left.open-panel
        h1.title 注册

block content
    .content.native-scroll
        .content-padded.text-center
            p 您已经注册成功
        .content-block
            .row
                .col-100
                    a.button.button-big.button-fill(href='#') 我要登录