extends ../../layout

block header
   header.bar.bar-nav
      a.button.button-link.button-nav.pull-left.open-panel(href='javascript:history.back();' ) 取消
      h1.title 注册

block content
   .content.native-scroll
      form#form(method='post',action='register')
         .list-block
            ul
               li
                  .item-content
                     .item-media
                        i.icon.icon-form-tel
                     .item-inner
                        .item-input
                           input(type='text',placeholder='请输入手机号码',name='mobileNo')
                        a#getCode.button.button-fill(href='#') 获取验证码
               li
                  .item-content
                     .item-media
                        i.icon.icon-form-password
                     .item-inner
                        .item-input
                           input(type='text',placeholder='请输入验证码',name='checkCode')
         .content-block
            .row
               .col-100
                  a#submitBtn.button.button-big.button-fill(href='#') 注册
   script(type='text/javascript').
      $(function () {
         $('#submitBtn').click(function () {
            $('#form').submit();
         });
         $('#getCode').click(function () {
            var url = 'sendRegisterCode';
            var mobileNo = $('input[name=mobileNo]').val();
            if (mobileNo) {
               var data = {mobileNo: mobileNo};
               $.get(url, data, function (d) {
                  alert(d.message);
               });
            }
         });
      });