<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>SUI Mobile Demo</title>
	    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
	    <meta name="author" content="阿里巴巴国际UED前端">
	    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
	    <link rel="shortcut icon" href="/favicon.ico">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    
	    <link rel="stylesheet" href="../../dist/css/sm.css" tppabs="http://m.sui.taobao.org/dist/css/sm.css">
	    <link rel="stylesheet" href="../../dist/css/sm-extend.css" tppabs="http://m.sui.taobao.org/dist/css/sm-extend.css">
	    <link rel="stylesheet" href="../../assets/css/demos.css" tppabs="http://m.sui.taobao.org/assets/css/demos.css">
	    
	    <!--
        	作者：1079277561@qq.com
        	时间：2016-05-17
        	描述：aui引入
        -->
        <link rel="stylesheet" type="text/css" href="../../aui/css/aui.css" />
        
	    <script src="../../assets/js/zepto.js" tppabs="http://m.sui.taobao.org/assets/js/zepto.js"></script>
    	<script src="../../assets/js/config.js" tppabs="http://m.sui.taobao.org/assets/js/config.js"></script>
	</head>
	<body>
		<div style="height: 230px;">
		</div>
		<div class="aui-content">
	        <ul class="aui-grid-nine">
	            <li class="aui-col-xs-4 aui-text-center">
	                <img src="../../assets/img/message/tabbar_compose_idea.png" width="70" height="70">
	                <p>文字</p>
	            </li>
	            <li class="aui-col-xs-4 aui-text-center">
	                <img src="../../assets/img/message/tabbar_compose_photo.png" width="70" height="70">
	                <p>照片/视频</p>
	            </li>
	            <li class="aui-col-xs-4 aui-text-center">
	                <img src="../../assets/img/message/tabbar_compose_headlines.png" width="70" height="70">
	                <p>头条文章</p>
	            </li>
	            <li class="aui-col-xs-4 aui-text-center">
	                <img src="../../assets/img/message/tabbar_compose_lbs.png" width="70" height="70">
	                <p>签到</p>
	            </li>
	            <li class="aui-col-xs-4 aui-text-center">
	                <img src="../../assets/img/message/tabbar_compose_review.png" width="70" height="70">
	                <p>点评</p>
	            </li>
	            <li class="aui-col-xs-4 aui-text-center">
	                <img src="../../assets/img/message/tabbar_compose_more.png" width="70" height="70">
	                <p>更多</p>
	            </li>
	        </ul>
    	</div>
		<nav style="background-color: #FFFFFF;" class="bar bar-tab">
	        <a class="tab-item external">
	        </a>
	        <a class="tab-item external">
	        </a>
	        <a class="tab-item external active">
	        	<img src="../../assets/img/navigationbar/navigationbar_close.png" width="30" height="30">
	        </a>
	        <a class="tab-item external">  
	        </a>
	        <a class="tab-item external">
	        </a>
	    </nav>
        
	</body>
</html>
