<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SUI Mobile Demo</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="阿里巴巴国际UED前端">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="../../dist/css/sm.css" tppabs="http://m.sui.taobao.org/dist/css/sm.css">
    <link rel="stylesheet" href="../../dist/css/sm-extend.css" tppabs="http://m.sui.taobao.org/dist/css/sm-extend.css">

	<link href="../../assets/css/base.css" type="text/css" rel="stylesheet">
	<link href="../../assets/css/cards.css" type="text/css" rel="stylesheet">
	<link href="../../assets/css/mods.css" type="text/css" rel="stylesheet">
	<!--
    	作者：1079277561@qq.com
    	时间：2016-05-17
    	描述：aui引入
    -->
    <link rel="stylesheet" type="text/css" href="../../aui/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../aui/css/aui-iconfont.css" />
    
    <script src="../../assets/js/zepto.js" tppabs="http://m.sui.taobao.org/assets/js/zepto.js"></script>
    <script src="../../assets/js/config.js" tppabs="http://m.sui.taobao.org/assets/js/config.js"></script>
    <script>
        function switchDiv(hideId,showId){
        	$(hideId).hide();
        	$(showId).show();
        }
        function showGroup(){
        	$('#myTools').hide();
        	$('#myGroup').toggle();
        }
        function showTools(){
        	$('#myGroup').hide();
        	$('#myTools').toggle();
        }
        $(document).on('click','.operate-box', function () {
	      var buttons1 = [
	        {
	          text: '收藏',
	          onClick: function() {
	            $.alert("你选择了“收藏“");
	          }
	        },
	        {
	          text: '举报',
	          onClick: function() {
	            $.alert("你选择了“举报“");
	          }
	        }
	      ];
	      var buttons2 = [
	        {
	          text: '取消',
	        }
	      ];
	      var groups = [buttons1, buttons2];
	      $.actions(groups);
	  });
	  /*=== 默认为 standalone ===*/
	$(function(){
  		/*=== 默认为 standalone ===*/
		  var myPhotoBrowserStandalone = $.photoBrowser({
		      photos : [
		          'http://ww1.sinaimg.cn/large/85f88975jw1f3vexfn3rhj21d60qon9i.jpg',
		          'http://ww2.sinaimg.cn/large/85f88975jw1f3vexk3xpnj216u0qoqbr.jpg',
		          'http://ww3.sinaimg.cn/large/85f88975jw1f3vexajpo2j21400qojzv.jpg',
		          'http://ww2.sinaimg.cn/large/85f88975jw1f3vexmazuhj20qo131jxd.jpg',
		          'http://ww1.sinaimg.cn/large/85f88975jw1f3vexo4fkzj20qo0qo0zl.jpg',
		      ]
		  });
		  //点击时打开图片浏览器
		  $(document).on('click','.wb_image',function () {
		    myPhotoBrowserStandalone.open();
		  });
	})
    </script>

</head>
<body>
<div id="mainDiv" class="page-group">
    <div id="page-nav-bar" class="page">
        <header class="bar bar-nav">
            <a class="icon icon-me pull-left open-panel"></a>

            <a onclick="showTools()" class="button button-link button-nav pull-right open-popup">
                <span class="icon icon-menu"></span>
            </a>
            
			
			<h1 class="title"><a onclick="showGroup()"><i style="color: #0062cc;" class="icon icon-down"></i> 有志青年__z</a></h1>
			
        </header>


        <nav class="bar bar-tab">

            <a class="tab-item external active" href="#">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="../message/message.html">
                <span class="icon icon-message"></span>
                <span class="tab-label">消息</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <img onclick="switchDiv('#mainDiv','#shareDiv')" src="../../assets/img/drawable/tabbar_compose_icon_add_meizu.png" width="35" height="35">
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-search"></span>
                <span class="tab-label">发现</span>
            </a>
            <a class="tab-item external" href="../me/me.html">
                <span class="icon icon-me"></span>
                <span class="tab-label">我</span>
                <span class="badge">2</span>
            </a>

        </nav>

        <div class="bar bar-header-secondary">
            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id='search' placeholder='输入关键字...'/>
                </div>
            </div>
        </div>
        
		<div class="content">
		        <section style="padding-top: 3px;background-color: #f4f4f4;" class="mod-pagelist card-combine">
					<div class="card-list">
						<div class="card card9 line-around">
							<header class="layout-box media-graphic">
								<a href="javascript:void(0);" class="mod-media size-xs">
									<div class="media-main">
									<img src="http://tva4.sinaimg.cn/crop.0.0.180.180.50/85f88975jw1e8qgp5bmzyj2050050aa8.jpg" width="100%"><i class="icon icon-yellowv"></i>
									</div>
								</a>
								<div class="box-col item-list">
									<a href="javascript:void(0);" class="item-main mct-a txt-cut">
										<span>陳奕迅所長</span> <i class="icon icon-vip"></i>
									</a>
									<div class="item-minor txt-xxs mct-d txt-cut">
										<span class="time">05-15 01:10</span><span class="from">来自iPhone 6</span>
									</div>
								</div>
								<a class="operate-box">
									<i class="icon-font icon-font-arrow-down txt-s"></i>
								</a>
							</header>
							<section class="weibo-detail">
								<p class="default-content">謝謝杭州。終於吃到牛肉湯米粉</p> 
								<div class="media-pic-list">
									<ul>
										<li>
											<img src="http://ww1.sinaimg.cn/thumb180/85f88975jw1f3vexfn3rhj21d60qon9i.jpg" class="wb_image">
										</li>
										<li>
											<img src="http://ww2.sinaimg.cn/thumb180/85f88975jw1f3vexk3xpnj216u0qoqbr.jpg" class="wb_image">
										</li>
										<li>
											<img src="http://ww3.sinaimg.cn/thumb180/85f88975jw1f3vexajpo2j21400qojzv.jpg" class="wb_image">
										</li>
										<li>
											<img src="http://ww2.sinaimg.cn/thumb180/85f88975jw1f3vexmazuhj20qo131jxd.jpg" class="wb_image">
										</li>
										<li>
											<img src="http://ww1.sinaimg.cn/thumb180/85f88975jw1f3vexo4fkzj20qo0qo0zl.jpg" class="wb_image">
										</li>
									</ul>
								</div> 
							</section>
							<footer class="more-detail line-top layout-box box-center-v">
								<a href="javascript:void(0);" class="box-col txt-s">
									<i class="icon-font icon-font-forward"></i><em class="num mct-d">6452</em>
								</a>
								<i class="line-gradient"></i>
								<a href="javascript:void(0);" class="box-col txt-s">
									<i class="icon-font icon-font-comment"></i><em class="num mct-d">9688</em>
								</a>
								<i class="line-gradient"></i>
								<a href="javascript:void(0);" class="box-col txt-s">
									<i class="icon icon-likesmall"></i><em class="num mct-d">108940</em>
								</a>
							</footer>
						</div>

						<div class="card card9 line-around">
							<header class="layout-box media-graphic">
								<a href="javascript:void(0);" class="mod-media size-xs">
									<div class="media-main"><img src="http://tva4.sinaimg.cn/crop.0.0.180.180.50/85f88975jw1e8qgp5bmzyj2050050aa8.jpg" width="100%"><i class="icon icon-yellowv"></i></div>
								</a>
								<div class="box-col item-list"><a href="javascript:void(0);" class="item-main mct-a txt-cut"><span>陳奕迅所長</span> <i class="icon icon-vip"></i></a>
									<div class="item-minor txt-xxs mct-d txt-cut"><span class="time">2015-12-25 16:11</span><span class="from">来自iPhone 6</span></div>
								</div>
								<a class="operate-box">
									<i class="icon-font icon-font-arrow-down txt-s"></i>
								</a>
							</header>
							<section class="weibo-detail">
								<p class="default-content">祝福大家 聖誕快樂 新年快樂 <a data-url="http://t.cn/R45hFiW" href="http://video.weibo.com/show?fid=1034:afd61f66cca1026f45f4c5139ad27233"><i class="iconimg iconimg-xs"><img src="http://h5.sinaimg.cn/upload/2015/09/25/3/timeline_card_small_video_default.png"></i><span class="surl-text">秒拍视频</span></a></p>
								<div>
									<video src="" poster="http://ww1.sinaimg.cn/orj480/736f0c7ejw1ezbyzotju1j20nq0dcq4p.jpg" controls="controls" preload="metadata"
										style="width:100%;max-width:30rem;max-height:30rem;">
									</video>
								</div>
							</section>
							<footer class="more-detail line-top layout-box box-center-v">
								<a href="javascript:void(0);" class="box-col txt-s">
									<i class="icon-font icon-font-forward"></i><em class="num mct-d">14997</em>
								</a>
								<i class="line-gradient"></i>
								<a href="javascript:void(0);" class="box-col txt-s">
									<i class="icon-font icon-font-comment"></i><em class="num mct-d">10307</em>
								</a>
								<i class="line-gradient"></i>
								<a href="javascript:void(0);" class="box-col txt-s">
									<i class="icon icon-likesmall"></i><em class="num mct-d">109980</em>
								</a>
							</footer>
						</div>
					</div>
				</section>
		</div>
    </div>
</div>
<!--
	作者：1079277561@qq.com
	时间：2016-05-17
	描述：share页展开
-->
<div style="display: none;"  id="shareDiv">
	<div style="height: 230px;">
	</div>
	<div class="aui-content">
        <ul class="aui-grid-nine">
            <li class="aui-col-xs-4 aui-text-center">
                <img src="../../assets/img/message/tabbar_compose_idea.png" width="70" height="70">
                <p>文字</p>
            </li>
            <li class="aui-col-xs-4 aui-text-center">
                <img src="../../assets/img/message/tabbar_compose_photo.png" width="70" height="70">
                <p>照片/视频</p>
            </li>
            <li class="aui-col-xs-4 aui-text-center">
                <img src="../../assets/img/message/tabbar_compose_headlines.png" width="70" height="70">
                <p>头条文章</p>
            </li>
            <li class="aui-col-xs-4 aui-text-center">
                <img src="../../assets/img/message/tabbar_compose_lbs.png" width="70" height="70">
                <p>签到</p>
            </li>
            <li class="aui-col-xs-4 aui-text-center">
                <img src="../../assets/img/message/tabbar_compose_review.png" width="70" height="70">
                <p>点评</p>
            </li>
            <li class="aui-col-xs-4 aui-text-center">
                <img src="../../assets/img/message/tabbar_compose_more.png" width="70" height="70">
                <p>更多</p>
            </li>
        </ul>
	</div>
	<nav style="background-color: #FFFFFF;" class="bar bar-tab">
        <a class="tab-item external">
        </a>
        <a class="tab-item external">
        </a>
        <a class="tab-item external">
        	<img onclick="switchDiv('#shareDiv','#mainDiv')" src="../../assets/img/navigationbar/navigationbar_close.png" width="30" height="30">
        </a>
        <a class="tab-item external">  
        </a>
        <a class="tab-item external">
        </a>
    </nav>
</div>

<article id="myGroup" class="topbar-pop display-none">
	<section class="list">
		<div>  
			<a href="javascript:void(0);" class="item isActive">全部 </a>
			<a href="javascript:void(0);" class="item">好友圈 </a>
			<a href="javascript:void(0);" class="item">我的微博 </a>
			<a href="javascript:void(0);" class="item">全部分组 </a>
		</div>
	</section>
</article>
<article id="myTools" class="topbar-pop display-none topbar-leftPos">
	<section class="list">
		<div>  
			<a href="javascript:void(0);" class="item isActive">雷达</a>
			<a href="javascript:void(0);" class="item">扫一扫 </a>
		</div>
	</section>
</article>
<script src="../../dist/js/sm.js"></script>
<script src="../../dist/js/sm-extend.js"></script>
<script src="../../dist/js/sm-city-picker.js"></script>
</body>
</html>
